@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.no-deco-a {
  text-decoration: none;
}

#header {
  display: flex;
  align-items: center;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-left: 2rem;
  padding: 0.3rem;
  font-size: 1.4rem;
  font-family: "Roboto", Arial, serif;
}

#theme-toggle-button {
  margin-right: 2rem;
  cursor: pointer;
}

.theme-toggle-icon {
  width: 15px;
  transition: 0.5s;
}

.theme-toggle-icon:hover {
  transform: rotate(245deg);
  transition: 1s;
}

.theme-toggle-icon:active {
  transition: 0.1s;
  transform: rotate(280deg);
}

#main-area {
  display: flex;
  justify-content: right;
  height: 700px;
}

#problem-area {
  width: 750px;
  padding-left: 3rem;
}

.container {
  padding: 1rem;
  margin: 0 auto;
}

#word-container {
  margin-top: 2rem;
}

.word-box {
  height: 4.5rem;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 85%;
}

.word {
  line-height: 1.7rem;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 23px;
  font-family: "Hina Mincho", serif;
}

.wb2 {
  opacity: 0.2;
}
.wb1 {
  opacity: 0.5;
}
.wb0 {
  opacity: 1;
}
.hinshi-icon {
  margin: 0 0.4rem 0 0px;
  width: 1.4rem;
  height: 1.4rem;
  position: relative;
  top: 0.2rem;
}
.hinshi-icon + .hinshi-icon {
  margin-left: 0;
}
#answer-container {
  margin: -2.4rem 0 -0.22rem 31px;
  height: 1.5rem;
}

#answer {
  letter-spacing: 0.5px;
  font-family: Roboto, RobotoDraft, Arial, sans-serif;
  margin-left: 2rem;
  font-size: 1.2rem;
}

#input-container {
  box-shadow: 0 2px 6px #1b1b1b;
  padding: 0.7rem;
  border-radius: 30px;
  width: 70%;
  margin-left: 33px;
}

#input-box {
  letter-spacing: 0.5px;
  margin-left: 2rem;
  font-size: 1.3rem;
  border: 0;
  width: 90%;
}

input:focus {
  outline: 0;
}
/* pre result */
#pre-result-container {
  margin: 2rem 0 0 1rem;
  height: 200px;
}
#pre-ja-box {
  padding: 1rem;
  margin-bottom: -10px;
  font-family: "Hina Mincho", serif;
  font-size: 1.1rem;
}
#pre-ja-box > img {
  height: 1.2rem;
  width: 1.2rem;
}
#pre-result-box {
  margin-left: 0.8rem;
}
#pre-result-box > span {
  display: inline-block;
  width: 65px;
  padding: 8px 10px;
}
#pre-result-box > span:nth-child(1) {
  width: 45px;
  text-align: right;
}
#pre-result-box > span:nth-child(2) {
  width: 174px;
}

/* results */

#results-area {
  overflow: auto;
  width: 35%;
}
#results-table {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
#results-table > tr > th {
  text-align: left;
  padding: 8px 10px;
  width: 12.5%;
  font-weight: normal;
  font-size: 0.9rem;
}
#results-table > tr > th:nth-child(1) {
  width: 5%;
}
#results-table > tr > th:nth-child(2) {
  width: 30%;
}
#results-table > tr > td {
  padding: 8px 10px;
}
.result-rank {
  text-align: right;
}
.result-word {
  overflow: hidden;
}
.result-word:hover {
  cursor: pointer;
  font-family: 'Noto Sans JP', Arial, san-serif;
  line-height: 24px;
}

td[class="result-word"][id*="ja-rw"] {
  display: inline-block;
  width: 90%;
  height: 1.1rem;
  overflow: hide;
  font-size: 0.85rem;
}
td::-webkit-scrollbar {
  display: none;
}

.unit {
  font-size: 0.83rem;
}

#see-more-results-button {
  display: block;
  margin: 0.5rem auto;
  border: 0;
  cursor: pointer;
  width: 100px;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

#see-more-results-button:hover {
  transition: 0.3s;
}
