body {
  background: #202124;
}

#header {
  background-color: #202124;
  border-bottom: 1px solid #6b6b6b;
}

.title > a {
  color: #e8eaed;
}

#theme-toggle-button {
  color: white;
}
.word-box {
  border-left: #56575c solid 10px;
  background: linear-gradient(90deg, #343439 0%, #343439cc 70%, #00000000 100%);
}

.word {
  color: #e8eaed;
}

#answer {
  color: #eb5454;
}

#input-box {
  color: #e8eaed;
  background: #2a2b2e;
}
/* pre result */
#pre-ja-box {
  color: #e8eaed;
}
#pre-result-box {
  background: linear-gradient(90deg, #2a2b2e 0%, #2a2b2e 40%, #00000000 100%);
  color: #e8eaed;
}
#pre-result-box > span:nth-child(1) {
  color: #8b9096;
}

/* results */
::-webkit-scrollbar {
  background: #202124;
  width: 0.9rem;
}
::-webkit-scrollbar-button {
  background: #323233;
}
::-webkit-scrollbar-corner {
  background-color: #202124;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 66);
}

#results-area {
  background: #202124;
  border-bottom: 1px solid #6b6b6b;
}
#results-table {
  color: #e8eaed;
}
#results-table > tr:nth-child(2n + 1) {
  background: #2a2b2e;
}
#results-table > tr > th {
  border-bottom: 0.8px solid #4e4e4e;
  color: #8b9096;
}

.result-rank {
  color: #8b9096;
}

#see-more-results-button {
  background: #323337;
  color: #cfd1d4;
}

#see-more-results-button:hover {
  background-color: #424243;
}
