body {
}

#header {
}

.title > a {
}

#theme-toggle-button {
}
.word-box {
}

.word {
}

#answer {
 
}

#input-box {

  /* background: #f3f3f3; */
}
/* pre result */
#pre-ja-box {
}
#pre-result-box {
}
#pre-result-box > span:nth-child(1) {
}

/* results */
/* ::-webkit-scrollbar {
  background: #202124;
}
::-webkit-scrollbar-button {
  background: #323233;
}
::-webkit-scrollbar-corner {
  background-color: #202124;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 66);
} */

#results-area {
}
#results-table {
}

#results-table > tr > th {
}

.result-rank {
}

#see-more-results-button {
}

#see-more-results-button:hover {
}
