body {
  background: #ffffff;
}

#header {
  background-color: #ffffff;
  border-bottom: 1px solid #bebebe;
}

.title > a {
  color: #292a2c;
}

#theme-toggle-button{
    color: #292a2c;
}
.word-box {
  border-left: #cdcdd3 solid 10px;
  /* background: #3c3d3f; */
  background: linear-gradient(90deg, #efeff2 0%, #efeff2 70%, #ffffff00 100%);
}

.word {
  color: #292a2c;
}

#answer {
  color: #d23d3d;
}

#input-container {
  box-shadow: 0 2px 6px #bbbbc0 inset;
  background: #f3f3f3;
}

#input-box {
  color: #292a2c;
  color: #4f4f56;
  text-shadow: #ffffff -1px -1px 1px;
  background: #f3f3f3;
}
/* pre result */
#pre-ja-box {
  color: #292a2c;
}
#pre-result-box {
  background: linear-gradient(90deg, #ecebeb 0%, #f5f5f5 70%, #00000000 100%);
  color: #292a2c;
}
#pre-result-box > span:nth-child(1) {
  color: #7a7e83;
}

/* results */
/* ::-webkit-scrollbar {
  background: #202124;
}
::-webkit-scrollbar-button {
  background: #323233;
}
::-webkit-scrollbar-corner {
  background-color: #202124;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 66);
} */

#results-area {
  background: #ffffff;
  border-bottom: 1px solid #bebebe;
}
#results-table {
  color: #292a2c;
}
#results-table > tr:nth-child(2n + 1) {
  background: #f5f5f5;
}
#results-table > tr > th {
  border-bottom: 0.8px solid #b5b5b5;
  color: #8b9096;
}

.result-rank {
  color: #8b9096;
}

#see-more-results-button {
  background: #f2f2f2;
  color: #404245;
}

#see-more-results-button:hover {
  background-color: #e2e2e3;
}
